@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bayon&family=Bitter:wght@700&family=Inter:wght@200&family=Kenia&family=Lobster&family=Roboto&family=Signika:wght@400;700&family=Staatliches&display=swap");

#root {
  margin: 0 auto;
}

.logo {
  font-family: Staatliches;
  font-size: 30px;
}

.logoObj {
  color: #fe4e00;
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  /* background-color: inherit; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100000;
}

.logo {
  margin-left: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navigation li {
  cursor: pointer;
}

.navbarBtn {
  border: 1px solid #fff;
  padding: 10px;
  height: 40px;
  border-radius: 8px;
  margin-right: 30px;
}

.navbarBtn:hover {
  background-color: #fe4e00;
  border: none;
}

/* --------HeroSection CSS--------- */

.heroSection {
  margin-left: 30px;
  margin-right: 30px;
}

.heroIntro {
  margin-top: 130px;
  margin-bottom: 130px;
}

.heroTitle {
  font-family: Staatliches;
  font-size: 70px;
  line-height: 80px;
  font-weight: 400;
}

.heroDesc {
  margin-top: 10px;
  line-height: 25px;
  font-size: 19px;
}

/* -------Skill Section CSS */

.skillSection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.skillSection h6 {
  font-weight: 500;
  font-size: 35px;
  align-self: center;
  font-family: bayon;
}

.frontSkills {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  gap: 25px;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-bottom: 3vw;
}

.frontSkills p {
  font-size: 21px;
}

.frontendTitle {
  background-color: #fe4e00;
  padding: 1vw;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -11px;
  z-index: 500;
  font-size: 18px;
  border: 1px solid #fe4e00;
}

.frontSkills img {
  width: 40px;
  height: 40px;
}

.skillsImg {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* -----About section CSS---- */

.aboutSection {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.innerAboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.aboutSection h6 {
  font-weight: 500;
  font-size: 35px;
  font-family: bayon;
  color: #ffffff;
  text-align: center;
  margin-left: 0vw;
}

.aboutContainer1 {
  width: 100%;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
  font-family: inter;
  text-align: center;
}

.instaBox {
  gap: 20px;
}

.instaQR {
  width: 50%;
  border-radius: 0px;
}

.instaQR:hover {
  box-shadow: 0px 0px 10px 1px #fe4e00;
}

.aboutContainer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.aboutContainer2 img:hover {
  box-shadow: 0px 0px 5px 1px #fe4e00;
  border: 0.3px solid rgba(255, 255, 255, 0.9);
}

.github {
  width: 100%;
}

.leetcode {
  width: 100%;
}

/* ------Horizontal skewed line------ */

.horLine {
  height: 6vw;
  background-color: #969696b4;
  margin-top: 4vw;
  overflow: hidden;
  transform: skewY(5deg);
  transform-origin: top left;
}

.horLine1 {
  height: 6vw;
  background-color: #fff;
  margin-top: 3vw;
  overflow: hidden;
  transform: skewY(-5deg);
  transform-origin: top left;
  margin-bottom: 50px;
}

.horLine1 p {
  display: flex;
  color: #000;
  font-size: 4vw;
  font-family: bayon;
  font-weight: 100;
  justify-content: center;
  align-self: center;
}

.horLine p {
  display: flex;
  color: #000;
  font-size: 4vw;
  font-family: bayon;
  font-weight: 100;
  justify-content: center;
  align-self: center;
}

/* ----Project Section CSS ---- */

.projectSection {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.projectSection h6 {
  font-weight: 500;
  font-size: 35px;
  font-family: bayon;
  color: #ffffff;
}

.projectMainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 4vw;
  margin-top: 50px;
}

.projectContainer {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-repeat: none;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}

.projectContainer img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.projectContainer:hover {
  box-shadow: 0px 0px 10px 1px #fe4e00;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* ----Footer Section CSS---- */

.horLineFooter {
  height: 6vw;
  margin-bottom: 50px;
  background-color: #fe4e00;
  margin-top: -50px;
}

.horLineFooter p {
  display: flex;
  color: #000;
  font-size: 4vw;
  font-family: bayon;
  font-weight: 100;
  justify-content: center;
  align-self: center;
  animation: glowText 3s ease-in-out infinite;
}

@keyframes glowText {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.footer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  alignitems: center;
  lineheight: 45px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLeft h6 {
  font-size: 40px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links img {
  background-color: #fff;
  width: 40px;
  border-radius: 20px;
  border: 2px solid white;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 50px;
}

.developedByOnPhone {
  display: none;
}

@media screen and (max-width: 800px) {
  .innerAboutSection {
    grid-template-columns: 1fr;
  }

  .projectMainContainer {
    grid-template-columns: 1fr;
  }

  .footerLeft h6 {
    font-size: 35px;
  }

  .instaBox {
    gap: 50px;
  }
}

@media screen and (max-width: 600px) {
  .heroDesc {
    font-size: 15px;
  }

  .instaBox {
    flex-direction: column;
    gap: 10px;
  }

  .instaQR {
    width: 60%;
  }

  .navigation {
    display: none;
  }

  .footerContainer {
    grid-template-columns: 1fr;
  }

  .footerRight {
    align-items: center;
  }

  .developedByOnPC {
    display: none;
  }

  .signature {
    margin-top: 20px;
  }

  .developedByOnPhone {
    margin-top: 20px;
    text-align: center;
    display: block;
  }

  .footerLeft h6 {
    text-align: center;
  }
}
